.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.cardWrapper {
  margin-top: 18px;
}
.wrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.sectionToggleTextStyles {
  color: var(--color-primary-400);
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
